<header class="text-center text-white masthead" style="background: #232121;">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Creative Develop</h1>
      <h2 class="masthead-subheading mb-0">FrontEnd</h2><a class="btn btn-primary btn-xl rounded-pill mt-5"
                                                           role="button" href="#"
                                                           style="border-style: none;background: rgb(17,16,16);">Git
      hub</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle" style="background: #a47777;"></div>
  <div class="bg-circle-2 bg-circle" style="background: #aa8e8e;"></div>
  <div class="bg-circle-3 bg-circle" style="background: #333131;"></div>
  <div class="bg-circle-4 bg-circle" style="background: #333131;"></div>
</header>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
              <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/InstaBack.png"
                                                     alt="Slide Image"></div>
              <div class="carousel-item"><img class="w-100 d-block" src="assets/img/InstaBackFollwers.png"
                                              alt="Slide Image"></div>
              <div class="carousel-item"><img class="w-100 d-block" src="assets/img/InstaBackMessage.png"
                                              alt="Slide Image"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
              class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
              class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span
              class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
              <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
              <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">InstaBackups</h2>
          <p>Este utiliza PHP, AngularJS, Estilos propios, su función es visualizar de mejor manera las backups de
            instagram</p><a href="#" style="color: rgb(62,97,220);font-size: 27px;">Instragram</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <div class="carousel slide" data-bs-ride="carousel" id="carousel-2">
            <div class="carousel-inner">
              <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/PlantillaMusica.png"
                                                     alt="Slide Image"></div>
              <div class="carousel-item"><img class="w-100 d-block"
                                              src="assets/img/PlantillaMusicaResponsivocompleta.png" alt="Slide Image"
                                              style="height: 237px;"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-bs-slide="prev"><span
              class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
              class="carousel-control-next" href="#carousel-2" role="button" data-bs-slide="next"><span
              class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
              <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <h2 class="display-4">Plantilla de canciones</h2>
          <p>Este se encuentra diseñado en CSS, JavaScipt, HTML, su principal objetivo de este fue que esta utilizando
            Facebook Pixel. Cada botón lo redirecciona a las plataformas con la canción o perfil del autor</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
              <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/Casino.png"
                                                     alt="Slide Image"></div>
              <div class="carousel-item"><img class="w-100 d-block" src="assets/img/CasinoAcomodacion.png"
                                              alt="Slide Image"></div>
              <div class="carousel-item"><img class="w-100 d-block" src="assets/img/CasinoAnuncios.png"
                                              alt="Slide Image"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
              class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
              class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span
              class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
              <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
              <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Plantilla de Casino</h2>
          <p>Este fue una plantilla con la utilizacion de bootstrap para los estilos y el carrusel, tambien para el
            diseño responsivo y el footer</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
              <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/RickMorty.png"
                                                     alt="Slide Image"></div>
              <div class="carousel-item"><img class="w-100 d-block" src="assets/img/RickMortyPersonaje.png"
                                              alt="Slide Image" style="height: 237px;"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
              class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
              class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span
              class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
              <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <h2 class="display-4">Aplicacion Hibrida</h2>
          <p>Creada en ionic con Angular esta consume una api de Rick and Morty la cual al darle click te muestra los
            personajes</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <section class="py-5">
    <div class="container">
      <h1 class="text-center mb-4">Conocimientos</h1>
      <div class="row filtr-container">
        <div class="col-md-6 col-lg-4 filtr-item" data-category="2,3">
          <div class="card border-dark"><img class="img-fluid card-img-top w-100 d-block rounded-0"
                                             src="assets/img/HTML.png"
                                             style="width: 100px;height: 300px;border-style: none;"></div>
        </div>
        <div class="col-md-6 col-lg-4 filtr-item" data-category="1,3">
          <div class="card border-dark"><img class="img-fluid card-img-top w-100 d-block rounded-0"
                                             src="assets/img/CSS.png" style="width: 100px;height: 300px;">
            <div class="card-body"></div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 filtr-item" data-category="2,3">
          <div class="card border-dark"><img class="img-fluid card-img-top w-100 d-block rounded-0"
                                             src="assets/img/JS.png" style="border-style: none;"></div>
        </div>
        <div class="col-md-6 col-lg-4 filtr-item" data-category="3">
          <div class="card border-dark"><img class="img-fluid card-img-top w-100 d-block rounded-0"
                                             src="assets/img/ANGULAR.png"></div>
        </div>
        <div class="col-md-6 col-lg-4 filtr-item" data-category="1,3">
          <div class="card border-dark"><img class="img-fluid card-img-top w-100 d-block rounded-0"
                                             src="assets/img/LARAVEL.jpg" style="border-style: none;"></div>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="getintouch">
  <div class="container modern-form">
    <div class="text-center">
      <h4 style="color: #212529;font-size: 45px;">Contacto</h4>
    </div>
    <hr class="modern-form__hr">
    <div class="modern-form__form-container">
      <form method="post" action="http://localhost:8000/formulario.php">
        <div class="row">
          <div class="col col-contact">
            <div class="modern-form__form-group--padding-r form-group mb-3"><input class="form-control input input-tr"
                                                                                   type="text" placeholder="Nombre" name="nombre">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="col col-contact">
            <div class="modern-form__form-group--padding-l form-group mb-3"><input class="form-control input input-tr"
                                                                                   type="text" placeholder="Correo" name="correo">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-contact">
            <div class="modern-form__form-group--padding-r form-group mb-3"><input class="form-control input input-tr"
                                                                                   type="text" placeholder="Numero de celular" name="ncelular">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="modern-form__form-group--padding-t form-group mb-3"><textarea
              class="form-control input modern-form__form-control--textarea" placeholder="Mensaje" name="asunto"></textarea>
              <div class="line-box">
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-primary submit-now" type="submit">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<footer class="py-5 bg-black">
  <div class="container">
    <p class="text-center text-white m-0 small">2021</p>
  </div>
</footer>
